openapi: 3.1.0
info:
  title: RH Cursos API
  version: 0.1.0
  summary: Contrato HTTP atual da plataforma RH Cursos
  description: >-
    Fundação OpenAPI 3.x baseada na superfície HTTP atualmente implementada no
    Route Handler `app/api/auth/session/route.ts` e nas Edge Functions em
    `supabase/functions/*/index.ts`.
  license:
    name: Proprietary
servers:
  - url: https://rhcursos.com.br
    description: Aplicação pública
  - url: https://{project-ref}.supabase.co
    description: Base do projeto Supabase para Edge Functions
    variables:
      project-ref:
        default: your-project-ref
tags:
  - name: Auth Session
    description: Login, sincronização e logout dos portais autenticados
  - name: Enrollments
    description: Inscrição pública em cursos
  - name: Payment Checkout
    description: Checkout hospedado do Asaas para a oferta DP Zero
  - name: Leads
    description: Captação de leads corporativos
  - name: Admin Resources
    description: Mutações administrativas autenticadas
  - name: Admin Read Models
    description: Leituras paginadas same-origin do painel administrativo
  - name: Email Timeline
    description: Histórico auditável de interações de e-mail por lead
  - name: Email Events
    description: Ingestão server-to-server de eventos dos provedores de e-mail
  - name: Functions Proxy
    description: BFF same-origin que encaminha para as Edge Functions
paths:
  /api/auth/session:
    get:
      tags: [Auth Session]
      summary: Sincroniza a sessão autenticada atual
      description: >-
        Lê o cookie `SESSION_COOKIE`, retorna a sessão atual e rotaciona o token
        quando a expiração entra na janela de renovação.
      operationId: getDashboardSession
      security:
        - sessionCookie: []
      responses:
        '200':
          description: Sessão válida, reutilizada ou renovada
          headers:
            Set-Cookie:
              description: Retornado apenas quando `rotated=true`
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSyncResponse'
              examples:
                current:
                  summary: Sessão ainda saudável
                  value:
                    ok: true
                    session:
                      role: student
                      email: aluna@rhcursos.com.br
                      name: Ana
                    token: eyJ...
                    rotated: false
                    supabaseSession: null
                rotated:
                  summary: Sessão renovada
                  value:
                    ok: true
                    session:
                      role: instructor
                      email: instrutor@rhcursos.com.br
                      name: Carlos
                    token: eyJ...novo
                    rotated: true
                    supabaseSession: null
        '401':
          $ref: '#/components/responses/SessionInvalid'
    post:
      tags: [Auth Session]
      summary: Login por perfil via Route Handler
      operationId: loginDashboardSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              admin:
                value:
                  email: admin@rhcursos.com.br
                  password: securepass123
                  role: admin
              student:
                value:
                  email: aluna@rhcursos.com.br
                  password: securepass123
                  role: student
      responses:
        '200':
          description: Login concluído com cookie HttpOnly emitido
          headers:
            Set-Cookie:
              schema:
                type: string
            x-rh-dashboard-path:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/LoginInvalid'
        '401':
          $ref: '#/components/responses/CredentialsInvalid'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/AuthRateLimited'
        '503':
          $ref: '#/components/responses/AuthUnavailable'
    delete:
      tags: [Auth Session]
      summary: Logout via Route Handler
      operationId: logoutDashboardSession
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: Cookie limpo e revogação global tentada quando possível
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
              examples:
                global:
                  value:
                    ok: true
                    mode: global
                    revoked: true
                localOnly:
                  value:
                    ok: true
                    mode: local-only
                    revoked: false
  /api/auth/realtime-token:
    get:
      tags: [Auth Session]
      summary: Emite um token efêmero para autenticar o canal realtime do admin
      description: >-
        Follow-up de REC-204 (post-mortem REC-502, item 6). Desde o cutover Fase
        B a sessão administrativa vive apenas nos cookies httpOnly (ADR-016 D2),
        inacessíveis ao JS. As tabelas admin (`lead`/`aluno`/`inscricao`) têm RLS
        `to authenticated`, então o cliente Supabase do browser (`anon`) nunca
        recebe eventos `postgres_changes`. Esta rota BFF same-origin lê a sessão
        SSR no servidor e devolve o `access_token` de curta duração da sessão
        atual para uso SOMENTE em memória (`supabase.realtime.setAuth`), nunca em
        storage. O `refresh_token` nunca é exposto. Fail-closed: sem sessão
        administrativa válida, nenhum token é emitido.
      operationId: getRealtimeToken
      security:
        - supabaseSsrCookies: []
      x-rate-limit:
        key: realtime-token:{ip}
        windowSeconds: 60
        maxRequests: 30
      responses:
        '200':
          description: Token efêmero emitido para a sessão administrativa atual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeTokenResponse'
              examples:
                token:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    expiresAt: 1800000000000
        '401':
          $ref: '#/components/responses/SsrSessionInvalid'
        '403':
          $ref: '#/components/responses/SsrAccessDenied'
        '429':
          $ref: '#/components/responses/GenericRateLimited'
        '503':
          $ref: '#/components/responses/SsrAuthUnavailable'
  /api/auth/password-recovery:
    post:
      tags: [Auth Session]
      summary: Solicita um link de recuperação de senha
      description: >-
        Envia as instruções pelo Supabase Auth. A resposta é uniforme para
        evitar enumeração de contas; a rota aplica rate limit por endereço IP.
      operationId: requestPasswordRecovery
      security: []
      x-rate-limit:
        key: password-recovery:{ip}
        windowSeconds: 900
        maxRequests: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRecoveryRequest'
      responses:
        '200':
          description: Solicitação aceita sem revelar se a conta existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordRecoveryResponse'
        '400':
          $ref: '#/components/responses/LoginInvalid'
        '429':
          $ref: '#/components/responses/AuthRateLimited'
        '503':
          $ref: '#/components/responses/AuthUnavailable'
  /api/auth/password-update:
    post:
      tags: [Auth Session]
      summary: Atualiza a senha na sessão de recuperação
      description: >-
        Exige uma sessão Supabase SSR válida criada pelo callback de recuperação,
        valida a força da senha e encerra a sessão após a troca.
      operationId: updatePassword
      security:
        - supabaseSsrCookies: []
      x-rate-limit:
        key: password-update:{ip}
        windowSeconds: 900
        maxRequests: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordUpdateRequest'
      responses:
        '200':
          description: Senha atualizada e sessão local encerrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/LoginInvalid'
        '401':
          $ref: '#/components/responses/SsrSessionInvalid'
        '429':
          $ref: '#/components/responses/AuthRateLimited'
        '503':
          $ref: '#/components/responses/SsrAuthUnavailable'
  /api/auth/password-recovery/session:
    post:
      tags: [Auth Session]
      summary: Converte o token hash de recuperação em sessão SSR
      description: >-
        Recebe os tokens presentes no fragmento do link padrão do Supabase,
        grava a sessão em cookies httpOnly e nunca devolve os tokens ao cliente.
      operationId: establishPasswordRecoverySession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRecoverySessionRequest'
      responses:
        '200':
          description: Sessão de recuperação estabelecida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/LoginInvalid'
        '401':
          $ref: '#/components/responses/SsrSessionInvalid'
        '429':
          $ref: '#/components/responses/AuthRateLimited'
        '503':
          $ref: '#/components/responses/SsrAuthUnavailable'
  /api/auth/password-recovery/confirm:
    post:
      tags: [Auth Session]
      summary: Confirma o código de recuperação e cria sessão SSR
      description: Aceita o código PKCE ou token hash do e-mail de recuperação.
      operationId: confirmPasswordRecovery
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRecoveryConfirmRequest'
      responses:
        '200':
          description: Sessão de recuperação estabelecida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/LoginInvalid'
        '401':
          $ref: '#/components/responses/SsrSessionInvalid'
        '429':
          $ref: '#/components/responses/AuthRateLimited'
        '503':
          $ref: '#/components/responses/SsrAuthUnavailable'
  /api/functions/{name}:
    parameters:
      - $ref: '#/components/parameters/FunctionName'
    get:
      tags: [Functions Proxy]
      summary: Encaminha um GET same-origin para a Edge Function nomeada
      description: >-
        Proxy BFF same-origin (REC-206/REC-204 Fase B) que reencaminha para
        `/functions/v1/{name}`. Para `admin-resources`, a identidade admin é
        resolvida server-side pela sessão Supabase SSR (cookie httpOnly) antes do
        encaminhamento; o header HMAC foi removido. A resposta é repassada
        integralmente da Edge Function upstream.
      operationId: proxyFunctionGet
      security:
        - supabaseSsrCookies: []
      responses:
        '200':
          $ref: '#/components/responses/FunctionProxyPassthrough'
        '401':
          $ref: '#/components/responses/SsrSessionInvalid'
        '403':
          $ref: '#/components/responses/SsrAccessDenied'
        '503':
          $ref: '#/components/responses/FunctionProxyUnavailable'
    post:
      tags: [Functions Proxy]
      summary: Encaminha um POST same-origin para a Edge Function nomeada
      description: >-
        Igual ao GET, porém repassa o corpo da requisição. Usado pelo app para
        `admin-resources`, `enrollments` e `leads`.
      operationId: proxyFunctionPost
      security:
        - supabaseSsrCookies: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/FunctionProxyPassthrough'
        '401':
          $ref: '#/components/responses/SsrSessionInvalid'
        '403':
          $ref: '#/components/responses/SsrAccessDenied'
        '503':
          $ref: '#/components/responses/FunctionProxyUnavailable'
    delete:
      tags: [Functions Proxy]
      summary: Encaminha um DELETE same-origin para a Edge Function nomeada
      operationId: proxyFunctionDelete
      security:
        - supabaseSsrCookies: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/FunctionProxyPassthrough'
        '401':
          $ref: '#/components/responses/SsrSessionInvalid'
        '403':
          $ref: '#/components/responses/SsrAccessDenied'
        '503':
          $ref: '#/components/responses/FunctionProxyUnavailable'
  /api/admin/courses:
    get:
      tags: [Admin Read Models]
      summary: Lista paginada de cursos para o painel administrativo
      description: >-
        Read model same-origin (REC-304) autorizado server-side por
        `requireAdminApi` (sessão SSR + `requireServerRole('admin')`). Busca
        textual pelo título do curso.
      operationId: listAdminCourses
      security:
        - supabaseSsrCookies: []
      parameters:
        - $ref: '#/components/parameters/AdminPage'
        - $ref: '#/components/parameters/AdminPageSize'
        - $ref: '#/components/parameters/AdminSearch'
      responses:
        '200':
          description: Página de cursos autorizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCourseListResponse'
        '401':
          $ref: '#/components/responses/AdminSessionInvalid'
        '403':
          $ref: '#/components/responses/AdminAccessDenied'
        '500':
          $ref: '#/components/responses/AdminListError'
        '503':
          $ref: '#/components/responses/AdminUnavailable'
  /api/admin/classes:
    get:
      tags: [Admin Read Models]
      summary: Lista paginada de turmas para o painel administrativo
      description: >-
        Read model same-origin (REC-304) autorizado por `requireAdminApi`. Busca
        textual pelo título do curso da turma.
      operationId: listAdminClasses
      security:
        - supabaseSsrCookies: []
      parameters:
        - $ref: '#/components/parameters/AdminPage'
        - $ref: '#/components/parameters/AdminPageSize'
        - $ref: '#/components/parameters/AdminSearch'
      responses:
        '200':
          description: Página de turmas autorizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminClassListResponse'
        '401':
          $ref: '#/components/responses/AdminSessionInvalid'
        '403':
          $ref: '#/components/responses/AdminAccessDenied'
        '500':
          $ref: '#/components/responses/AdminListError'
        '503':
          $ref: '#/components/responses/AdminUnavailable'
  /api/admin/instructors:
    get:
      tags: [Admin Read Models]
      summary: Lista paginada de instrutores para o painel administrativo
      description: >-
        Read model same-origin (REC-304) autorizado por `requireAdminApi`. Busca
        textual pelo nome do instrutor.
      operationId: listAdminInstructors
      security:
        - supabaseSsrCookies: []
      parameters:
        - $ref: '#/components/parameters/AdminPage'
        - $ref: '#/components/parameters/AdminPageSize'
        - $ref: '#/components/parameters/AdminSearch'
      responses:
        '200':
          description: Página de instrutores autorizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInstructorListResponse'
        '401':
          $ref: '#/components/responses/AdminSessionInvalid'
        '403':
          $ref: '#/components/responses/AdminAccessDenied'
        '500':
          $ref: '#/components/responses/AdminListError'
        '503':
          $ref: '#/components/responses/AdminUnavailable'
  /api/admin/students:
    get:
      tags: [Admin Read Models]
      summary: Lista paginada de alunos para o painel administrativo
      description: >-
        Read model same-origin (REC-303) autorizado por `requireAdminApi`.
        Filtra por turma, status e busca por nome/email.
      operationId: listAdminStudents
      security:
        - supabaseSsrCookies: []
      parameters:
        - $ref: '#/components/parameters/AdminPage'
        - $ref: '#/components/parameters/AdminPageSize'
        - $ref: '#/components/parameters/AdminSearch'
        - $ref: '#/components/parameters/AdminClassId'
        - $ref: '#/components/parameters/AdminStatus'
      responses:
        '200':
          description: Página de alunos autorizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStudentListResponse'
        '401':
          $ref: '#/components/responses/AdminSessionInvalid'
        '403':
          $ref: '#/components/responses/AdminAccessDenied'
        '500':
          $ref: '#/components/responses/AdminListError'
        '503':
          $ref: '#/components/responses/AdminUnavailable'
  /api/admin/enrollments:
    get:
      tags: [Admin Read Models]
      summary: Lista paginada de inscrições para o painel administrativo
      description: >-
        Read model same-origin (REC-303) autorizado por `requireAdminApi`.
        Filtra por turma, status e busca por nome/email.
      operationId: listAdminEnrollments
      security:
        - supabaseSsrCookies: []
      parameters:
        - $ref: '#/components/parameters/AdminPage'
        - $ref: '#/components/parameters/AdminPageSize'
        - $ref: '#/components/parameters/AdminSearch'
        - $ref: '#/components/parameters/AdminClassId'
        - $ref: '#/components/parameters/AdminStatus'
      responses:
        '200':
          description: Página de inscrições autorizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEnrollmentListResponse'
        '401':
          $ref: '#/components/responses/AdminSessionInvalid'
        '403':
          $ref: '#/components/responses/AdminAccessDenied'
        '500':
          $ref: '#/components/responses/AdminListError'
        '503':
          $ref: '#/components/responses/AdminUnavailable'
  /api/admin/leads/{leadId}/timeline:
    get:
      tags: [Email Timeline]
      summary: Lista a linha do tempo de e-mail de um lead
      description: >-
        Read model same-origin protegido por sessão administrativa SSR. Retorna
        somente resumos seguros e dados de auditoria; o corpo do e-mail e
        credenciais dos provedores nunca fazem parte da resposta.
      operationId: listLeadEmailTimeline
      security:
        - supabaseSsrCookies: []
      parameters:
        - $ref: '#/components/parameters/LeadId'
        - name: types
          in: query
          required: false
          description: Tipos de interação separados por vírgula.
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        '200':
          description: Interações do lead em ordem cronológica decrescente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadTimelineResponse'
        '400': { description: Lead ou filtros inválidos }
        '401':
          $ref: '#/components/responses/AdminSessionInvalid'
        '403':
          $ref: '#/components/responses/AdminAccessDenied'
        '500': { description: Falha ao consultar a linha do tempo }
        '503':
          $ref: '#/components/responses/AdminUnavailable'
  /api/webhooks/ses:
    post:
      tags: [Email Events]
      summary: Ingere um evento de envio do Amazon SES
      description: >-
        Endpoint server-to-server autenticado por segredo compartilhado. Aceita
        Send, Delivery, Open, Click, Bounce e Complaint, correlaciona a mensagem
        ao lead e persiste o evento de forma idempotente.
      operationId: ingestSesEmailEvent
      security:
        - emailWebhookSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SesEmailEvent'
      responses:
        '200':
          description: Evento processado ou duplicata reconhecida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventIngestionResponse'
        '400': { description: JSON inválido }
        '401': { description: Segredo do webhook inválido }
        '413': { description: Corpo acima do limite permitido }
        '422': { description: Evento inválido ou sem correlação segura }
        '503': { description: Persistência temporariamente indisponível }
  /api/internal/email/imap-events:
    post:
      tags: [Email Events]
      summary: Ingere uma resposta normalizada da caixa IMAP
      description: >-
        Recebe do coletor privado apenas metadados normalizados da resposta. O
        contrato rejeita campos extras, inclusive corpo HTML ou texto integral.
      operationId: ingestImapReplyEvent
      security:
        - emailWebhookSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NormalizedImapEvent'
      responses:
        '200':
          description: Resposta processada ou duplicata reconhecida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventIngestionResponse'
        '400': { description: JSON inválido }
        '401': { description: Segredo do webhook inválido }
        '413': { description: Corpo acima do limite permitido }
        '422': { description: Evento inválido, ambíguo ou sem correlação segura }
        '503': { description: Persistência temporariamente indisponível }
  /api/email/unsubscribe:
    post:
      tags: [Email Events]
      summary: Confirma o descadastro de um contato
      description: >-
        Valida o token HMAC com expiração, registra o descadastro de forma
        idempotente, ativa a supressão e interrompe a sequência ativa.
      operationId: unsubscribeLeadEmail
      security: []
      parameters:
        - name: token
          in: query
          required: false
          description: Token assinado; também pode ser enviado como formulário.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Descadastro confirmado ou já processado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsubscribeResponse'
        '400': { description: Token inválido ou expirado }
        '503': { description: Persistência temporariamente indisponível }
  /api/enrollments:
    post:
      tags: [Enrollments]
      summary: Cria uma inscrição pública via Route Handler
      description: >-
        Adaptador same-origin usado pelo app Next.js. Valida o payload,
        aplica rate limit e delega a criação à RPC `registrar_inscricao_publica`.
      operationId: createEnrollmentRouteHandler
      security: []
      x-runtime: next-route-handler
      x-rate-limit:
        key: enrollment:{ip}
        windowSeconds: 60
        maxRequests: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
      responses:
        '201':
          description: Inscrição registrada
          headers:
            X-RateLimit-Remaining:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentResponse'
        '400':
          description: Body inválido ou falha de validação
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          $ref: '#/components/responses/GenericRateLimited'
        '500':
          description: Erro interno ao registrar inscrição
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                error:
                  value:
                    ok: false
                    error: Erro ao registrar inscrição.
        '503':
          description: Backend de checkout indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unavailable:
                  value:
                    ok: false
                    error: Checkout indisponivel.
  /api/payments/asaas/checkout:
    post:
      tags: [Payment Checkout]
      summary: Cria checkout hospedado Asaas para Departamento Pessoal do Zero
      description: >-
        Recebe somente os dados de identificação do comprador. Preço, turma,
        parcelas e URLs são definidos exclusivamente pelo servidor antes de a
        URL oficial do checkout ser devolvida.
      operationId: createAsaasDpZeroCheckout
      security: []
      x-runtime: next-route-handler
      x-rate-limit:
        key: asaas-checkout:{ip}
        windowSeconds: 60
        maxRequests: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsaasCheckoutRequest'
      responses:
        '201':
          description: Checkout criado e vinculado à inscrição
          headers:
            X-RateLimit-Remaining:
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsaasCheckoutResponse'
        '400':
          description: Payload inválido ou produto não permitido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentErrorResponse' }
        '409':
          description: Conflito de identidade, vaga ou chave idempotente
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentErrorResponse' }
        '413': { description: Corpo acima do limite permitido }
        '429':
          $ref: '#/components/responses/GenericRateLimited'
        '502':
          description: Resposta determinística inválida do gateway ou vínculo não concluído
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentErrorResponse' }
        '503':
          description: Configuração ausente, estado de criação ambíguo ou serviço indisponível
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentErrorResponse' }
  /api/webhooks/asaas:
    post:
      tags: [Payment Checkout]
      summary: Recebe eventos de checkout Asaas
      description: >-
        Endpoint server-to-server autenticado pelo header `asaas-access-token`.
        Eventos são idempotentes pelo ID e só `CHECKOUT_PAID` confirma uma inscrição.
      operationId: receiveAsaasCheckoutWebhook
      security:
        - asaasWebhookToken: []
      x-runtime: next-route-handler
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsaasCheckoutWebhook'
      responses:
        '200':
          description: Evento processado ou duplicata já processada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookOkResponse' }
        '400': { description: Evento inválido ou não suportado }
        '401': { description: Token do webhook inválido }
        '413': { description: Corpo acima do limite permitido }
        '503': { description: Processamento transitório; Asaas deve repetir a entrega }
  /functions/v1/enrollments:
    post:
      tags: [Enrollments]
      summary: Cria uma inscrição pública
      operationId: createEnrollment
      x-runtime: supabase-edge-function
      security: []
      x-rate-limit:
        key: enrollment:{ip}
        windowSeconds: 60
        maxRequests: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
      responses:
        '201':
          description: Inscrição registrada
          headers:
            X-RateLimit-Remaining:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentResponse'
        '400':
          description: Body inválido ou falha de validação
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          $ref: '#/components/responses/OriginNotAllowed'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/GenericRateLimited'
        '500':
          description: Erro interno ao registrar inscrição
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                error:
                  value:
                    ok: false
                    error: Erro ao registrar inscrição.
  /functions/v1/leads:
    post:
      tags: [Leads]
      summary: Registra um lead comercial ou consultivo
      operationId: createLead
      x-runtime: supabase-edge-function
      security: []
      x-rate-limit:
        key: lead:{ip}
        windowSeconds: 60
        maxRequests: 10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadRequest'
      responses:
        '201':
          description: Lead criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          description: Campos obrigatórios ausentes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingFields:
                  value:
                    ok: false
                    error: Campos obrigatórios ausentes.
        '403':
          $ref: '#/components/responses/OriginNotAllowed'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/GenericRateLimited'
        '500':
          description: Erro interno ao criar lead
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                error:
                  value:
                    ok: false
                    error: Erro ao criar lead.
  /functions/v1/admin-resources:
    post:
      tags: [Admin Resources]
      summary: Executa mutações administrativas
      operationId: mutateAdminResources
      x-runtime: supabase-edge-function
      x-rate-limit:
        key: admin:{email}:{ip}
        windowSeconds: 60
        maxRequests: 30
      security:
        - trustedBffServiceRoleBearer: []
          trustedBffServiceRoleApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminMutation'
      responses:
        '200':
          description: Mutação aceita
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMutationResponse'
        '400':
          description: Recurso ou ação ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidMutation:
                  value:
                    ok: false
                    error: Mutação inválida.
        '401':
          description: Token de sessão admin ausente ou inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    ok: false
                    error: Não autorizado.
        '403':
          $ref: '#/components/responses/OriginNotAllowed'
        '422':
          description: Falha de validação do payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Limite excedido para o admin/IP
          headers:
            Retry-After:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                limited:
                  value:
                    ok: false
                    error: Muitas requisições. Aguarde um momento.
        '500':
          description: Erro ao persistir recurso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: rh_cursos_demo_session
      description: Cookie HttpOnly emitido por `/api/auth/session`
    trustedBffServiceRoleBearer:
      type: http
      scheme: bearer
      description: >-
        Header `authorization: Bearer <SUPABASE_SERVICE_ROLE_KEY>` usado
        exclusivamente pelo BFF same-origin. Deve ser enviado em conjunto com
        `apikey` contendo a mesma service-role key; browsers não chamam
        `admin-resources` diretamente e nenhuma sessão HMAC é aceita.
    trustedBffServiceRoleApiKey:
      type: apiKey
      in: header
      name: apikey
      description: >-
        Header `apikey: <SUPABASE_SERVICE_ROLE_KEY>` exigido por
        `requireTrustedSsrAdmin` junto com `authorization` bearer da mesma
        service-role key.
    supabaseSsrCookies:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: >-
        Cookies httpOnly de sessão Supabase gerenciados por `@supabase/ssr`,
        enviados automaticamente same-origin. Nenhum token é lido do corpo.
    asaasWebhookToken:
      type: apiKey
      in: header
      name: asaas-access-token
      description: Token aleatório exclusivo do webhook, configurado no Asaas e no servidor.
    emailWebhookSecret:
      type: apiKey
      in: header
      name: x-rh-webhook-secret
      description: >-
        Segredo aleatório server-to-server, com no mínimo 32 caracteres. SES e
        coletor IMAP usam valores distintos embora compartilhem este contrato.
  parameters:
    FunctionName:
      name: name
      in: path
      required: true
      description: Nome da Edge Function alvo do proxy same-origin.
      schema:
        type: string
        enum: [admin-resources, enrollments, leads]
    AdminPage:
      name: page
      in: query
      required: false
      description: Página (1-based). Valores inválidos caem para `1`.
      schema:
        type: integer
        minimum: 1
        default: 1
    AdminPageSize:
      name: pageSize
      in: query
      required: false
      description: Tamanho da página. Limitado a 100; padrão 20.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    AdminSearch:
      name: search
      in: query
      required: false
      description: Termo de busca textual sanitizado (máx. 120 caracteres).
      schema:
        type: string
        maxLength: 120
    AdminClassId:
      name: classId
      in: query
      required: false
      description: Filtra pela turma (`turma_id`).
      schema:
        type: string
    AdminStatus:
      name: status
      in: query
      required: false
      description: Filtra por status de inscrição. Valores desconhecidos são ignorados.
      schema:
        $ref: '#/components/schemas/EnrollmentStatus'
    LeadId:
      name: leadId
      in: path
      required: true
      description: Identificador do lead no CRM.
      schema:
        type: string
        minLength: 1
        maxLength: 80
  responses:
    SessionInvalid:
      description: Sessão ausente, inválida ou expirada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid:
              value:
                ok: false
                error: Sessao invalida ou expirada.
    LoginInvalid:
      description: Dados de login ausentes ou role inválida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid:
              value:
                ok: false
                error: Dados de login invalidos.
    CredentialsInvalid:
      description: Credenciais incorretas
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid:
              value:
                ok: false
                error: Credenciais invalidas.
    AccessDenied:
      description: Usuário autenticado sem permissão de admin
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            denied:
              value:
                ok: false
                error: Acesso nao autorizado.
    OriginNotAllowed:
      description: Origin não autorizada na allowlist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            blocked:
              value:
                ok: false
                error: Origin not allowed
    OriginNotAllowedOrAccessDenied:
      description: Origin não autorizada ou usuário sem role admin
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            blocked:
              value:
                ok: false
                error: Origin not allowed
            denied:
              value:
                ok: false
                error: Acesso nao autorizado.
    MethodNotAllowed:
      description: Método HTTP não suportado pelo endpoint
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidMethod:
              value:
                ok: false
                error: Method not allowed
    AuthRateLimited:
      description: Limite de tentativas de autenticação excedido
      headers:
        Retry-After:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            limited:
              value:
                ok: false
                error: Muitas tentativas. Tente novamente mais tarde.
    GenericRateLimited:
      description: Limite de requisições excedido
      headers:
        Retry-After:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            limited:
              value:
                ok: false
                error: Muitas tentativas. Tente novamente mais tarde.
    AuthUnavailable:
      description: Ambiente sem credenciais Supabase configuradas
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unavailable:
              value:
                ok: false
                error: Auth indisponivel.
    SsrSessionInvalid:
      description: Sessão SSR ausente, inválida ou expirada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid:
              value:
                ok: false
                error: Sessao invalida ou expirada.
    SsrAccessDenied:
      description: Sessão SSR válida, porém sem papel administrativo
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            denied:
              value:
                ok: false
                error: Acesso não autorizado.
    SsrAuthUnavailable:
      description: Sessão SSR do Supabase não configurada no ambiente
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unavailable:
              value:
                ok: false
                error: Auth indisponivel.
    AdminSessionInvalid:
      description: Sessão SSR administrativa ausente, inválida ou expirada
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid:
              value:
                ok: false
                error: Sessão inválida ou expirada.
    AdminAccessDenied:
      description: Usuário autenticado sem papel administrativo
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            denied:
              value:
                ok: false
                error: Acesso não autorizado.
    AdminListError:
      description: Erro interno ao consultar o read model administrativo
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            listError:
              value:
                ok: false
                error: Erro ao listar cursos.
    AdminUnavailable:
      description: Recurso indisponível (configuração ausente ou lockdown operacional)
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - $ref: '#/components/schemas/LockdownResponse'
          examples:
            unavailable:
              value:
                ok: false
                error: Recurso indisponível.
            lockdown:
              value:
                ok: false
                error: service_unavailable
                reason: lockdown
    FunctionProxyPassthrough:
      description: >-
        Resposta repassada integralmente pela Edge Function upstream. O status e
        o corpo dependem do contrato da função nomeada (ver `/functions/v1/*`).
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    FunctionProxyUnavailable:
      description: Sessão SSR indisponível ou Supabase Functions não configurado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ssrUnavailable:
              value:
                ok: false
                error: Auth SSR indisponível.
            functionsUnconfigured:
              value:
                ok: false
                error: Supabase Functions não configurado.
  schemas:
    LeadInteractionType:
      type: string
      enum: [SENT, DELIVERED, OPENED, CLICKED, REPLIED, BOUNCED, COMPLAINED, UNSUBSCRIBED]
    LeadInteraction:
      type: object
      additionalProperties: false
      properties:
        id: { type: string, format: uuid }
        leadId: { type: string }
        eventType: { $ref: '#/components/schemas/LeadInteractionType' }
        occurredAt: { type: string, format: date-time }
        recordedAt: { type: string, format: date-time }
        channel: { type: string, const: EMAIL }
        direction: { type: string, enum: [OUTBOUND, INBOUND] }
        source: { type: string, enum: [SES, IMAP, CRM, INTERNAL] }
        safeSummary: { type: string, maxLength: 500 }
        externalEventId:
          type: [string, 'null']
        correlationId: { type: string }
        causationId:
          type: [string, 'null']
        actorId: { type: string }
        actorVersion: { type: string }
        contentRef:
          type: [string, 'null']
        contentHash:
          type: [string, 'null']
        metadata:
          type: object
          additionalProperties: true
      required:
        - id
        - leadId
        - eventType
        - occurredAt
        - recordedAt
        - channel
        - direction
        - source
        - safeSummary
        - correlationId
        - actorId
        - actorVersion
        - metadata
    LeadTimelineResponse:
      type: object
      additionalProperties: false
      properties:
        ok: { type: boolean, const: true }
        data:
          type: array
          items:
            $ref: '#/components/schemas/LeadInteraction'
        count: { type: integer, minimum: 0 }
      required: [ok, data, count]
    EventIngestionResponse:
      type: object
      additionalProperties: false
      properties:
        ok: { type: boolean, const: true }
        duplicate: { type: boolean }
      required: [ok, duplicate]
    SesEmailEvent:
      type: object
      additionalProperties: true
      description: Evento SES puro ou envelope EventBridge com `source=aws.ses`.
    NormalizedImapEvent:
      type: object
      additionalProperties: false
      properties:
        messageId: { type: string, maxLength: 255 }
        inReplyTo: { type: string, maxLength: 255 }
        references:
          type: array
          maxItems: 30
          items: { type: string, maxLength: 255 }
        from: { type: string, format: email, maxLength: 180 }
        to:
          type: array
          minItems: 1
          maxItems: 20
          items: { type: string, format: email, maxLength: 180 }
        occurredAt: { type: string, format: date-time }
        imapUid: { type: string, maxLength: 120 }
        mailbox: { type: string, maxLength: 120, default: INBOX }
        subjectHash:
          type: string
          pattern: '^[0-9a-f]{64}$'
      required: [messageId, from, to, occurredAt, imapUid]
    UnsubscribeResponse:
      type: object
      additionalProperties: false
      properties:
        ok: { type: boolean, const: true }
        message: { type: string }
      required: [ok, message]
    DashboardRole:
      type: string
      enum: [admin, student, instructor]
    SessionPayload:
      type: object
      additionalProperties: false
      properties:
        role:
          $ref: '#/components/schemas/DashboardRole'
        email:
          type: string
          format: email
        name:
          type: string
      required: [role, email, name]
    SupabaseSession:
      type: object
      additionalProperties: false
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
      required: [access_token, refresh_token]
    OkResponse:
      type: object
      additionalProperties: true
      properties:
        ok:
          type: boolean
          const: true
      required: [ok]
    ErrorResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
      required: [ok, error]
    PaymentErrorResponse:
      type: object
      additionalProperties: false
      properties:
        error: { type: string }
        retryWithNewAttempt: { type: boolean }
      required: [error]
    AsaasCheckoutRequest:
      type: object
      additionalProperties: false
      properties:
        productSlug:
          type: string
          const: departamento-pessoal-do-zero
        idempotencyKey:
          type: string
          format: uuid
        name:
          type: string
          minLength: 3
          maxLength: 100
        email:
          type: string
          format: email
        cpf:
          type: string
          description: CPF com ou sem máscara; normalizado no servidor.
        phone:
          type: string
          description: Telefone com ou sem máscara; normalizado no servidor.
      required: [productSlug, idempotencyKey, name, email, cpf, phone]
    AsaasCheckoutResponse:
      type: object
      additionalProperties: false
      properties:
        orderId: { type: string, format: uuid }
        checkoutUrl:
          type: string
          format: uri
          description: URL HTTPS allowlisted do checkout hospedado pelo Asaas.
      required: [orderId, checkoutUrl]
    AsaasCheckoutWebhook:
      type: object
      additionalProperties: true
      properties:
        id: { type: string }
        event:
          type: string
          enum: [CHECKOUT_CREATED, CHECKOUT_PAID, CHECKOUT_CANCELED, CHECKOUT_EXPIRED]
        dateCreated: { type: string }
        checkout:
          type: object
          additionalProperties: true
          properties:
            id: { type: string }
            externalReference: { type: string, format: uuid }
            status: { type: string }
          required: [id]
      required: [id, event, checkout]
    WebhookOkResponse:
      type: object
      additionalProperties: false
      properties:
        ok: { type: boolean, const: true }
      required: [ok]
    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            details:
              type: object
              additionalProperties: true
    LoginRequest:
      type: object
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        role:
          $ref: '#/components/schemas/DashboardRole'
      required: [email, password, role]
    PasswordRecoveryRequest:
      type: object
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
      required: [email]
    PasswordRecoveryResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: true
        message:
          type: string
      required: [ok, message]
    PasswordUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        password:
          type: string
          minLength: 12
        confirmation:
          type: string
          minLength: 12
      required: [password, confirmation]
    PasswordRecoverySessionRequest:
      type: object
      additionalProperties: false
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
      required: [accessToken, refreshToken]
    PasswordRecoveryConfirmRequest:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
        tokenHash:
          type: string
      minProperties: 1
    LogoutRequest:
      type: object
      additionalProperties: false
      properties:
        accessToken:
          type: string
    SessionSyncResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: true
        session:
          $ref: '#/components/schemas/SessionPayload'
        token:
          oneOf:
            - type: string
            - type: 'null'
        rotated:
          type: boolean
        supabaseSession:
          type: 'null'
      required: [ok, session, token, rotated, supabaseSession]
    LoginResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: true
        session:
          $ref: '#/components/schemas/SessionPayload'
        token:
          type: string
        rotated:
          type: boolean
        supabaseSession:
          oneOf:
            - $ref: '#/components/schemas/SupabaseSession'
            - type: 'null'
      required: [ok, session, token, rotated, supabaseSession]
    EdgeLoginResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: true
        session:
          $ref: '#/components/schemas/SessionPayload'
        token:
          type: string
        supabaseSession:
          oneOf:
            - $ref: '#/components/schemas/SupabaseSession'
            - type: 'null'
      required: [ok, session, token, supabaseSession]
    LogoutResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: true
        mode:
          type: string
          enum: [global, local-only]
        revoked:
          type: boolean
      required: [ok, mode, revoked]
    EnrollmentRequest:
      type: object
      additionalProperties: false
      properties:
        studentName:
          type: string
          minLength: 3
          maxLength: 100
        email:
          type: string
          format: email
        cpf:
          type: string
        phone:
          type: string
        courseId:
          type: string
          minLength: 1
          maxLength: 80
        classId:
          type: string
          minLength: 1
          maxLength: 80
        jobTitle:
          type: string
          maxLength: 100
          default: ''
        organization:
          type: string
          maxLength: 100
          default: ''
        enrollmentType:
          type: string
          enum: ['Pessoa física', Empresa, 'Órgão público']
          default: 'Pessoa física'
        paymentMethod:
          type: string
          enum: [Pix, Cartão, Boleto, Empenho]
          default: Pix
        notes:
          type: string
          maxLength: 500
          default: ''
      required:
        - studentName
        - email
        - cpf
        - phone
        - courseId
        - classId
    EnrollmentResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: true
        enrollmentId:
          type: string
      required: [ok, enrollmentId]
    LeadRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        type:
          type: string
          enum: [Curso, InCompany, Consultoria, Newsletter, Orçamento, Contato]
        organization:
          type: string
        teamSize:
          type: integer
        courseInterest:
          type: string
        courseId:
          type: string
        origin:
          type: string
        preferredModality:
          type: string
        trainingObjective:
          type: string
        trainingTheme:
          type: string
        mainChallenges:
          type: string
        message:
          type: string
      required: [name, email, courseInterest, origin]
    AdminMutation:
      oneOf:
        - $ref: '#/components/schemas/AdminListMutation'
        - $ref: '#/components/schemas/AdminUpsertMutation'
        - $ref: '#/components/schemas/AdminDeleteMutation'
        - $ref: '#/components/schemas/AdminUpdateStatusMutation'
    AdminResourceKey:
      type: string
      enum: [courses, classes, students, leads, enrollments, instructors, blog]
    AdminListMutation:
      type: object
      additionalProperties: false
      properties:
        resource:
          $ref: '#/components/schemas/AdminResourceKey'
        action:
          type: string
          const: list
      required: [resource, action]
    AdminUpsertMutation:
      type: object
      additionalProperties: false
      properties:
        resource:
          $ref: '#/components/schemas/AdminResourceKey'
        action:
          type: string
          const: upsert
        payload:
          type: object
          additionalProperties: true
      required: [resource, action, payload]
    AdminDeleteMutation:
      type: object
      additionalProperties: false
      properties:
        resource:
          $ref: '#/components/schemas/AdminResourceKey'
        action:
          type: string
          const: delete
        id:
          type: string
      required: [resource, action, id]
    AdminUpdateStatusMutation:
      type: object
      additionalProperties: false
      properties:
        resource:
          $ref: '#/components/schemas/AdminResourceKey'
        action:
          type: string
          const: update-status
        id:
          type: string
        status:
          type: string
      required: [resource, action, id, status]
    AdminMutationResponse:
      type: object
      additionalProperties: true
      properties:
        ok:
          type: boolean
          const: true
        skipped:
          type: boolean
        data:
          type: object
          additionalProperties: true
      required: [ok, skipped]
    LockdownResponse:
      type: object
      additionalProperties: false
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
          const: service_unavailable
        reason:
          type: string
          const: lockdown
      required: [ok, error, reason]
    SsrLoginRequest:
      type: object
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        role:
          $ref: '#/components/schemas/DashboardRole'
        mfaCode:
          type: string
          description: Código TOTP para o segundo passo (AAL2).
      required: [email, password]
    SsrSessionResponse:
      type: object
      additionalProperties: false
      description: >-
        Identidade da sessão SSR sem tokens. Os tokens Supabase permanecem
        exclusivamente nos cookies httpOnly.
      properties:
        ok:
          type: boolean
          const: true
        session:
          $ref: '#/components/schemas/SessionPayload'
        aal:
          type: string
          description: 'Nível de garantia de autenticação (ex.: `aal1`, `aal2`).'
      required: [ok, session]
    RealtimeTokenResponse:
      type: object
      additionalProperties: false
      description: >-
        Token efêmero de realtime. Contém apenas o `access_token` de curta
        duração da sessão SSR atual e sua expiração real. Nunca inclui
        `refresh_token`; destinado a uso exclusivamente em memória no cliente.
      properties:
        accessToken:
          type: string
          description: JWT de acesso de curta duração da sessão SSR atual.
        expiresAt:
          type: integer
          description: >-
            Expiração real do token em epoch (milissegundos), derivada de
            `expires_at` da sessão Supabase. Usada para agendar a renovação.
      required: [accessToken, expiresAt]
    MfaChallengeResponse:
      type: object
      additionalProperties: false
      description: Desafio MFA fail-closed; nenhuma sessão é emitida.
      properties:
        ok:
          type: boolean
          const: false
        mfaRequired:
          type: boolean
          const: true
        factorId:
          type: string
        error:
          type: string
      required: [ok, mfaRequired, error]
    EnrollmentStatus:
      type: string
      enum: [Pendente, Aguardando pagamento, Confirmada, Cancelada, Concluída]
    AdminListMeta:
      type: object
      additionalProperties: false
      description: Metadados de paginação compartilhados pelos read models.
      properties:
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
      required: [page, pageSize, total]
    AdminCourse:
      type: object
      description: Projeção de curso (`mapCourse`) consumida pelo painel admin.
      properties:
        id: { type: string }
        slug: { type: string }
        title: { type: string }
        pathId: { type: string }
        pathName: { type: string }
        category: { type: string }
        categories:
          type: array
          items: { type: string }
        modality: { type: string }
        modalities:
          type: array
          items: { type: string }
        durationLabel: { type: string }
        durationHours: { type: number }
        level: { type: string }
        price: { type: number }
        shortDescription: { type: string }
        fullDescription: { type: string }
        targetAudience:
          type: array
          items: { type: string }
        objectives:
          type: array
          items: { type: string }
        benefits:
          type: array
          items: { type: string }
        instructorId: { type: string }
        image: { type: string }
        rating: { type: number }
        studentsCount: { type: integer }
        status: { type: string }
        featured: { type: boolean }
        nextClassId: { type: string }
      required: [id, slug, title, status]
    AdminTrainingClass:
      type: object
      description: Projeção de turma (`mapClass`).
      properties:
        id: { type: string }
        courseId: { type: string }
        startDate: { type: string }
        endDate: { type: string }
        time: { type: string }
        modality: { type: string }
        location: { type: string }
        instructorId: { type: string }
        totalSeats: { type: integer }
        filledSeats: { type: integer }
        availableSeats: { type: integer }
        status: { type: string }
        price: { type: number }
        notes: { type: string }
      required: [id, courseId, status]
    AdminInstructor:
      type: object
      description: Projeção de instrutor (`mapInstructor`).
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string }
        phone: { type: string }
        specialty: { type: string }
        bio: { type: string }
        education: { type: string }
        photoUrl: { type: string }
        courseIds:
          type: array
          items: { type: string }
        rating: { type: number }
        avatar: { type: string }
        status:
          type: string
          enum: [Ativo, Inativo]
      required: [id, name, status]
    AdminStudent:
      type: object
      description: Projeção de aluno (`mapDbStudent`).
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string }
        phone: { type: string }
        cpf: { type: string }
        organization: { type: string }
        jobTitle: { type: string }
        courseId: { type: string }
        classId: { type: string }
        enrollmentStatus:
          $ref: '#/components/schemas/EnrollmentStatus'
        certificateIssued: { type: boolean }
        enrolledAt: { type: string }
        paymentMethod:
          oneOf:
            - type: string
              enum: [Pix, Cartão, Boleto, Empenho]
            - type: 'null'
      required: [id, name, email, enrollmentStatus]
    AdminEnrollment:
      type: object
      description: Projeção de inscrição (`mapDbEnrollment`).
      properties:
        id: { type: string }
        studentName: { type: string }
        email: { type: string }
        phone: { type: string }
        cpf: { type: string }
        organization: { type: string }
        jobTitle: { type: string }
        enrollmentType:
          type: string
          enum: [Pessoa física, Empresa, Órgão público]
        paymentMethod:
          oneOf:
            - type: string
              enum: [Pix, Cartão, Boleto, Empenho]
            - type: 'null'
        courseId: { type: string }
        classId: { type: string }
        status:
          $ref: '#/components/schemas/EnrollmentStatus'
        createdAt: { type: string }
        notes: { type: string }
      required: [id, studentName, email, status]
    AdminCourseListResponse:
      allOf:
        - $ref: '#/components/schemas/AdminListMeta'
        - type: object
          properties:
            ok:
              type: boolean
              const: true
            data:
              type: array
              items:
                $ref: '#/components/schemas/AdminCourse'
          required: [ok, data]
    AdminClassListResponse:
      allOf:
        - $ref: '#/components/schemas/AdminListMeta'
        - type: object
          properties:
            ok:
              type: boolean
              const: true
            data:
              type: array
              items:
                $ref: '#/components/schemas/AdminTrainingClass'
          required: [ok, data]
    AdminInstructorListResponse:
      allOf:
        - $ref: '#/components/schemas/AdminListMeta'
        - type: object
          properties:
            ok:
              type: boolean
              const: true
            data:
              type: array
              items:
                $ref: '#/components/schemas/AdminInstructor'
          required: [ok, data]
    AdminStudentListResponse:
      allOf:
        - $ref: '#/components/schemas/AdminListMeta'
        - type: object
          properties:
            ok:
              type: boolean
              const: true
            data:
              type: array
              items:
                $ref: '#/components/schemas/AdminStudent'
          required: [ok, data]
    AdminEnrollmentListResponse:
      allOf:
        - $ref: '#/components/schemas/AdminListMeta'
        - type: object
          properties:
            ok:
              type: boolean
              const: true
            data:
              type: array
              items:
                $ref: '#/components/schemas/AdminEnrollment'
          required: [ok, data]
